@model GRA.Controllers.ViewModel.MissionControl.Avatar.BackgroundViewModel

@section inHeading {
    <a asp-action="@nameof(AvatarsController.Index)"
       class="btn btn-outline-secondary ms-auto d-print-none">Back</a>
}

<form asp-action="@nameof(AvatarsController.Background)"
      method="post"
      role="form"
      enctype="multipart/form-data">
    <div class="row mb-3">
        <div class="col-12 col-sm-8 offset-sm-2">
            <div class="card">
                <div class="card-header">Avatar background</div>
                <div class="card-body">
                    <p>
                        Upload a new <code>.png</code> image to replace the background used for
                        avatar social sharing.
                    </p>
                    <div class="mb-3">
                        <label class="col-form-label">Current background</label>
                        @if (Model.BackgroundExists)
                        {
                            <div class="img-thumbnail text-center">
                                <img src="~/@Model.BackgroundImageUrl?@Model.BackgroundImageVersion"
                                     class="img-fluid"
                                     alt="Current avatar background" />
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-warning mb-0">
                                No avatar background image has been uploaded.
                            </div>
                        }
                    </div>
                    <label asp-for="UploadedFile" class="col-form-label">Select a PNG file to upload</label>
                    <div class="input-group mb-3">
                        <input accept=".png"
                               asp-for="UploadedFile"
                               class="form-control"
                               type="file" />
                        <button class="btn btn-outline-secondary"
                                id="clearSelectionButton"
                                type="button">
                            Clear selection
                        </button>
                    </div>
                    <span asp-validation-for="UploadedFile" class="text-danger mb-3"></span>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <button button-spinner
                            class="btn btn-outline-success"
                            disabled
                            id="backgroundUploadButton"
                            type="submit">
                        Upload Background
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script type="text/javascript">
        const backgroundFile = document.getElementById("UploadedFile");
        const backgroundUploadButton = document.getElementById("backgroundUploadButton");
        const clearSelectionButton = document.getElementById("clearSelectionButton");

        if(backgroundFile && backgroundUploadButton) {
            backgroundFile.addEventListener("change", _ => {
                backgroundUploadButton.disabled = backgroundFile.files.length === 0;
            });
        }

        if(backgroundFile && backgroundUploadButton && clearSelectionButton) {
            clearSelectionButton.addEventListener("click", _ => {
                backgroundFile.value = "";
                backgroundUploadButton.disabled = true;
            });
        }
    </script>
}
